@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/desaltung/assets/font-files/Inter-Medium.woff") format("woff"),
    url("/desaltung/assets/font-files/Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("/desaltung/assets/font-files/Inter-Regular.woff") format("woff"),
    url("/desaltung/assets/font-files/Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("/desaltung/assets/font-files/Inter-Light.woff") format("woff"),
    url("/desaltung/assets/font-files/Inter-Light.woff2") format("woff2");
}
