<!DOCTYPE html>
<html lang="en">
  {%- include head.html -%}
  <body class="text-gray-800 font-basic overflow-x-hidden">
    <div class="pointer-events-none blankit h-64 w-full absolute top-0"></div>
    <!-- <div class="pointer-events-none blankit-2 h-64 w-full absolute top-0"></div> -->

    <div
      class="pointer-events-none absolute top-0 mt-32 h-screen w-full overflow-x-hidden"
    >
      <div
        class="pointer-events-none fog-1 h-48 w-full absolute top-0 z-50"
      ></div>
      <div
        class="pointer-events-none fog-2 h-48 w-full absolute top-0 z-50"
      ></div>
      <div
        class="pointer-events-none fog-3 h-48 w-full absolute top-0 z-50"
      ></div>
    </div>

    {%- include header.html -%}
    <main class="mb-20">{{ content }}</main>
    {%- include footer.html -%}

    <script src="{{ site.baseurl }}/bundle.js"></script>
  </body>
</html>
