@tailwind base;

@tailwind components;

@tailwind utilities;

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("./Inter-Medium.woff") format("woff"),
    url("./Inter-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("./Inter-Regular.woff") format("woff"),
    url("./Inter-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  font-display: swap;
  src: url("./Inter-Light.woff") format("woff"),
    url("./Inter-Light.woff2") format("woff2");
}

.logo {
  width: 36px;
  display: inline-block;
  margin-bottom: 5px;
}

@media only screen and (min-width: 765px) {
  .logo {
    width: 40px;
    display: inline-block;
  }
}

.fog-1 {
  background: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );
  animation: gradient 8s ease infinite;
}

.fog-2 {
  background: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );
  animation: gradient-2 12s ease infinite;
}

.fog-3 {
  background: radial-gradient(
    rgba(255, 255, 255, 1),
    rgba(255, 255, 255, 0) 70%
  );
  animation: gradient-3 10s ease infinite;
}

.blankit {
  background: linear-gradient(
    rgb(77, 101, 199) 0%,
    rgb(150, 168, 255) 40%,
    rgba(255, 255, 255, 0) 100%
  );
}

.blankit-2 {
  background: radial-gradient(
    rgba(40, 61, 147, 0.1) 0%,
    rgba(0, 90, 170, 0.1) 70%,
    rgba(50, 67, 255, 0.3) 100%
  );
}

@keyframes gradient {
  0% {
    transform: translate(20vw, 100px);
    opacity: 0;
  }
  20% {
    opacity: 1;
    transform: translate(20vw, 100px);
  }
  90% {
    opacity: 1;
    transform: translate(30vw, 70px);
  }
  100% {
    opacity: 0;
    transform: translate(40vw, 0px);
  }
}

@keyframes gradient-2 {
  0% {
    opacity: 0;
    transform: translate(0vw, 50px);
  }
  20% {
    opacity: 1;
    transform: translate(0vw, 50px);
  }
  80% {
    opacity: 1;
    transform: translate(50vw, 40px);
  }
  100% {
    opacity: 0;
    transform: translate(40vw, 0px);
  }
}

@keyframes gradient-3 {
  0% {
    opacity: 0;
    transform: translate(-20vw, 40px);
  }
  20% {
    opacity: 1;
    transform: translate(-30vw, 40px);
  }
  90% {
    transform: translate(-30vw, 30px);
    opacity: 1;
  }
  100% {
    transform: translate(0vw, 0px);
    opacity: 0;
  }
}

article > p,
article > h1,
article > h2,
article > h3,
article > video {
  filter: blur(10px);
  transition: filter 1s;
}

article > p.inView,
article > h1.inView,
article > h2.inView,
article > h3.inView,
article > video.inView {
  opacity: 1;
  filter: blur(0);
}

/* @keyframes 2 {
  0% {
    background-position: 0% 0%;
  }
  50% {
    background-position: 0% 20%;
  }
  100% {
    background-position: 0% 0%;
  }
} */

/* add some padding to force scrollbars
.parallax__layer {
  padding: 100vh 0;
}

/* centre the content in the parallax layers */

/* .parallax {
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-perspective: 1px;
  perspective: 1px;
}

.parallax__layer {
  position: absolute;
  top: 0;
  left: -10px;
  right: 0;
  bottom: 0;
}

.parallax__layer--base {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
}

.parallax__layer--back {
  -webkit-transform: translateZ(-1px) scale(2);
  transform: translateZ(-1px) scale(2);
  background-image: url("https://res.cloudinary.com/dhxmg9p4i/image/upload/v1602681052/blog/background-two.jpg");
  background-size: cover;
} */

/* p,
ol,
h1,
h2 {
  margin-bottom: 1.5rem;
}

article ol {
  list-style-type: decimal;
  margin-left: 2em;
} */

/* article ol.lower-roman {
  list-style-type: lower-roman;
} */
